You are an expert in education creating assessment questions.

Grade Level: {{ grade_level }}
Difficulty: {{ difficulty }}
Topic: {{ topic }}
Number of Questions: {{ question_count }}
District domain: {{ district }}

Requirements:
- Questions must be appropriate for grade {{ grade_level }}
- Difficulty level: {{ difficulty }}
- Include a variety of question types (multiple choice, short answer, word problems)
- Total points should sum to {{ max_points }}
- Note the following should be null since this will not be created yet: questions.id, choices.choice_id, questions.image_url.
- questions.question_type must be one of the following: ['multiple_choice', 'multi_select_choice', 'short_answer', 'true_false']

Optional Requirements:
- Math related questions, question_text, choice_text; if possible wrap math expressions with laTex.


{% if custom_instructions %}
Additional Instructions:
{{ custom_instructions }}
{% endif %}

Generate {{ question_count }} questions in the following JSON format:
```json
{
  "questions": [
    {
      "question_id": "null",
      "order_number": 1,
      "standard_text: "..."
      "question_text": "...",
      "question_type": "multiple_choice ...",
      "choices": [{
        "choice_id": "null",
        "choice_text": "...",
        "is_correct": bool,
        "order_number": 1,
      }],
      "correct_answer": "B",
      "points": 5,
      "explanation": "...",
      "image_url": "null",
      "is_required": True,
    }
  ]
}
```